* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #f7f7f7;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

nav,
main,
footer,
header {
  display: block;
}

img {
  border: 0;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #0050C2;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}


h1, h2, h3 {
  color: #222;
  margin: 24px 0 12px;
  line-height: 1;
}

/* header */
.page-header {
  border-bottom: 1px solid #88A0C2;
  padding: 24px 0 12px;
}

.page-header .logo-link {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: #222;
  margin-right: 14px;
}

.page-header .logo-link:after {
  content: " ";
  width: 1px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 24px;
  background-color: #d6d6d6;
}

.category-nav {
  display: inline-block;
}

.category-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.category-nav li {
  display: inline-block;
}

.category-nav a {
  color: #222;
  display: block;
  padding: 5px 10px;
  transition: color ease .2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

.category-nav a:hover {
  color: #555;
}

.category-nav a:focus,
.category-nav a:active {
  color: #777;
}

.category-nav a.active {
  color: #0050C2;
}

/* page wrapper */
.page-wrapper {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}


/* table of contents
.table-of-contents {
  background-color: #E0E0E0;
  border: 1px solid #000;
  float: left;
  font-size: 12px;
  padding: 10px;
  width: 20%;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table-of-contents > ul > li {
  margin-top: 10px;
}

.table-of-contents li a {
  display: block;
  font-weight: normal;
  color: #0050B2;
  background: url(images/bullet_e0e0e0.png) 0 4px no-repeat;
  padding-left: 10px;
}

.table-of-contents li a:hover {
  text-decoration: underline;
}

.table-of-contents a.logo {
  display: block;
  text-align: center;
} */

/* main
.page-main {
  float: left;
  width: 80%;
  padding-left: 40px;
  margin-bottom: 10px;
}

.page-main .page-title {
  font-size: 30px;
  border-bottom: 1px solid #333;
  text-align: right;
  margin: 0;
} */

/* footer
.page-footer {
  border-top: 1px solid #C0C0C0;
  clear: both;
  padding-top: 10px;
}

.page-footer .report {
  width: 50%;
  display: block;
  float: left;
}

.page-footer .copyright {
  width: 50%;
  float: right;
  text-align: right;
} */