.page-width {
  margin-left: auto;
  margin-right: auto;

  padding-left: @gutter-width;
  padding-right: @gutter-width;

  .clearfix();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }

  @media (min-width: @screen-md-min) {
    width: @container-md;
  }

  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.main-wrapper {
  padding-bottom: 48px;

  font-weight: 300; //use lighter font for main text

  @media (min-width: @screen-sm-min) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

.page-title {
  margin: 36px 0 30px;
}

.section-title {
  margin: 24px 0 18px;
  font-size: 24px;

  @media (min-width: @screen-sm-min) {
    font-size: 30px;
  }
}

.section-subtitle {
  font-size: 18px;

  @media (min-width: @screen-sm-min) {
    font-size: 24px;
  }
}

.section-h3 {
  font-size: 16px;

  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }
}

// images
.img-border() {
  border: 1px solid @gray-border;
}

.img-responsive() {
  width: auto;
  height: auto;
  max-width: 100%;
}

// define image width and height for all images above mobile breakpoint
// this is so if the img loads slowly the content doesn't jerk down
.img-freemarker-overview {
  .img-border();
  .img-responsive();

  display: block;
  margin: 24px auto;

  @media (min-width: @screen-sm-min) {
    width: 418px;
    height: 193px;
  }
}

// buttons
.btn {
  padding: 12px 24px;
  color: #FFF;
  background-color: @link-color;
  border-radius: 6px;
  display: inline-block;

  &:hover {
    background-color: @link-color-hover;
    color: #FFF;
  }
}

// helpers
.resource-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    padding: 3px 0;
  }
}

// definition list
.powered-by-list {
  dt {
    a {
      display: block;
      padding: 12px 0 3px 0;
    }
  }
}

.hidden-xs {
  @media (max-width: @screen-xs-max) {
    display: none !important;
  }
}

.visible-xs {
  @media (min-width: @screen-sm-min) {
    display: none !important;
  }
}

.note {
  border-left: 3px solid #CCC;
  padding: 6px 12px;
  background-color: #eee;

  .note-title {
    display: block;
    margin: 3px 0;
  }

  &.note-warning {
    border-left-color: #C0662B;
    .note-title {
      color: #C0662B;
      &:before {
        .icon-before();
        content: @fa-var-exclamation-triangle;
      }
    }
  }
}

.callout {
  font-size: 18px;
}