.page-width {
  margin-left: auto;
  margin-right: auto;

  padding-left: @gutter-width;
  padding-right: @gutter-width;

  .clearfix();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.main-wrapper {
  padding-bottom: 48px;


  @media (min-width: @screen-sm-min) {
    display: flex;
  }
}


.page-title {
  padding: 36px 0 18px;
  margin: 0;
}

.section-title {
  padding: 12px 0;
  border-bottom: 1px solid @gray-border;
  font-size: 24px;
}

.img-border {
  border: 1px solid @gray-border;
}