
.page-header {
  padding-top: 18px;

  .logo-link {
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    color: @text-color;
    margin-right: 8px;
  }
}

.header-nav {
  .primary-nav& {
    display: inline-block;
    font-size: 16px;
  }
  .secondary-nav& {
    border-top: 1px solid @gray-border;
    border-bottom: 1px solid @gray-border;
    padding: 8px 0;
    margin-top: 12px;
    font-size: 14px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 100;
  }
  li {
    display: inline-block;
    .secondary-nav& {
      margin-right: 24px;
    }
    .secondary-nav&:last-child  {
      margin-right: 0;
    }

  }
  a {
    color: @text-color;
    display: block;
    .primary-nav& {
      padding: 6px 12px;
    }
    .secondary-nav& {
      padding: 4px 0;
    }
    &:hover {
      color: @link-color-hover;
    }
    &:focus,
    &:active {
      color: lighten(@link-color-hover, 5%);
    }
    &.active {
      color: @link-color;
      &:hover {
        color: @link-color-hover;
      }
    }
  }
}