.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
    box-sizing: border-box;
  }
  &:after {
    clear: both;
  }
}

.icon() {
  &:before {
    font-family: FontAwesome;
    margin-right: 3px;
  }
}

.social-media-icons() {
  .icon();
  &.github:before {
    content: @fa-var-github;
  }
  &.twitter:before {
    content: @fa-var-twitter;
  }
  &.stack-overflow:before {
    content: @fa-var-stack-overflow;
  }
}