.sidebar {
  list-style-type: none;
  padding: 36px 42px 0 0;
  margin: 0;
  flex-shrink: 0;
  line-height: 2;
  font-size: 16px;

  display: flex;
  justify-content: space-around;

  > li {
    flex-grow: 1;
  }

  @media (min-width: @screen-sm-min) {
    justify-content: flex-start;
    flex-direction: column;

    > li {
      flex-grow: 0;
    }
  }



  li:last-child ul {
    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0 0 24px;
    padding: 6px 0 0 0;
    font-size: 14px;
    border-top: 1px solid @gray-border;


  }
}

.download-sidebar {
  a {
    display: block;
    .icon();

    &.download:before {
      content: @fa-var-download;
    }

    &.change-log:before {
      content: @fa-var-history;
    }
  }

}

.social-media-sidebar {
  a {
    display: block;
    .social-media-icons();

    &.bug:before {
      content: @fa-var-bug;
    }

    &.mailing-list:before {
      content: @fa-var-comments-o;
    }
  }
}